@import 'register.css';

body{
    text-align: center;
    background-color: rgb(36, 82, 36);
}
h2{
    color: goldenrod;
    padding: 1px;
    font-weight: bold;
    margin-top: 140px;;
    font-size: 70px;
}

h4{
    color: goldenrod;
    font-weight: bold;
    font-size: 50px;
    margin-top: 6px;
}

a{
    text-decoration: none;
    font-size: 20px;;
    font-weight: bold;
    color: white;
}

button{
    background-color: rgb(115, 27, 27);
    border-color: rgb(115, 27, 27);
}
.dark-mode {
    background-color: rgb(22, 19, 46);
    color: white;
  }

  .w3-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}