body{
    margin: 0px;
}



p.name{
  margin-left: 35px;
  margin-top: 25px;
  font-size: 42px ;
  font-family: sans-serif ;
  text-align: center;
}


div.aboutMe{
  position: relative;
  width: 1090px;
  height: 250px;
  border: 3px solid #73AD21;
  margin: auto;

}



img.profilePic {
  position: absolute;
  top: 30px;
  left: 10px;
  right: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border: 3px solid rgb(186, 186, 247);
}

div.intro {
  position: absolute;
  font-size: 14px;
  font-family: sans-serif ;
  top: 40px;
  left: 390px;
  right: 0;
  width: 370px;
  height: 100px;
  border: 3px solid rgb(23, 10, 78);;
  text-align: center;
  color: rgb(255, 247, 247);
  background-color: rgb(23, 10, 78);
}  

div.education {
    position: relative;
    width: 1090px;
    height: 150px;
    border: 3px solid #73AD21;
    margin: auto;
  } 

  div.eng {
    position: absolute;
    top: 30px;
    left: 10px;
    right: 0;
    width: 300px;
    height: 100px;
    border: 3px solid rgb(236, 190, 232);;
    text-align: center;
    color: black;
    background-color: rgb(236, 190, 232);
  }  

  div.eng:hover{
    background-color: aquamarine;
  }

  a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
 

  div.clg {
    position: absolute;
    top: 30px;
    left: 380px;
    right: 0;
    width: 300px;
    height: 100px;
    border: 3px solid rgb(251, 146, 241);;
    text-align: center;
    color: black;
    background-color: rgb(251, 146, 241);
  }  
  div.scl {
    position: absolute;
    top: 30px;
    right: 9px;
    width: 300px;
    height: 100px;
    border: 3px solid rgb(214, 120, 235);;
    text-align: center;
    color: black;
    background-color: rgb(214, 120, 235);
  }  

