body{
    background-color: darkgreen;
    color: aliceblue;
    text-align: center;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, 'sans-serif';
    font-weight: bold;
}

h1{
    color: goldenrod;
    font-family: Rubik Distressed;
}

#message-el{
    margin: 70px;
    font-style: italic;
}

#start-btn, #newCard-btn{
    width: 150px;
    height: 30px;;
    background: goldenrod;
    color:  #016f32;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 2px;
}

#newCard-btn{
    margin-top: 10px;;
}