body{
    background-color: rgb(31, 31, 58);
    text-align: center;
}

.container{
    background-color: rgb(55, 61, 97);
    margin-left: 30px;
    margin-right: 30px;
    height: 400px;
}

#heading{
    
    color: azure;
    font-weight: bold;
    font-size: 25px;
    margin-top: 100px;;
}

#pwd-btn-el{
    background-color: rgb(80, 118, 23);
    border: 0px solid rgb(80, 118, 23);
    color: aliceblue;
    font-weight: solid;
    width: 150px;
    height: 50px;
    margin-bottom: 100px;;
}
#pwd1{
    width: 180px;
    height: 40px;
    margin: 20px;
    background-color: rgb(148, 148, 204);
    border: none;
    font-weight: solid;
}
#pwd2{
    width: 180px;
    height: 40px;
    margin: 20px;
    background-color: rgb(148, 148, 204);
    border: none;
    font-weight: solid;
}