
.class{
    margin-top: 30px;
    text-align: center; 
}
.input-box{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
    border-radius: 24px;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.logo{
    width: 550px;
    height: 300px;
    align-items: center;
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    
}
button{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}
.btn{
    margin-top: 20px;
    text-align: center; ;
    
}
