

h1,h2{
    text-align: center;
    color: black;
   
}

.container{
    background-color: lightblue;
    border: 3px solid blue;;
    max-width: 80%;
    margin: auto;
}

#increment-btn{
    background-color: blue;
    color: white;
    width: 150px;
    height: 50px;
    display: block;
    margin: auto;
    border-radius: 15px;
}

#save-btn{
    background-color: rgb(48, 92, 59);
    color: white;
    width: 150px;
    height: 50px;
    display: block;
    margin: auto;
    margin-top: 10px;;
    border-radius: 15px;
    border: 3px solid rgb(49, 177, 96);
}

#save-el{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: rgb(28, 25, 30);
}

